*{
    padding: 0;
    margin: 0;
}
.selectArtist{
    margin-top: 10rem;
    margin-left: 24%;
    width: 20rem;
    height: 2.5rem;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(26, 237, 43);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

